<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA667kYugGnbmnDCpgubSZ3EWb1niEmijY</string>
	<key>GCM_SENDER_ID</key>
	<string>403720387010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Kaz.PhotoRamble</string>
	<key>PROJECT_ID</key>
	<string>photoramble-3f7b4</string>
	<key>STORAGE_BUCKET</key>
	<string>photoramble-3f7b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403720387010:ios:4a8bc874f71aa70d02fe5b</string>
</dict>
</plist>